<!doctype html>
</html>
<head>
 <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

 <body>
  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script language="Javascript">
function fileUpload(form, action_url, div_id) {
    // Create the iframe...
    var iframe = document.createElement("iframe");
    iframe.setAttribute("id", "upload_iframe");
    iframe.setAttribute("name", "upload_iframe");
    iframe.setAttribute("width", "0");
    iframe.setAttribute("height", "0");
    iframe.setAttribute("border", "0");
    iframe.setAttribute("style", "width: 0; height: 0; border: none;");

    // Add to document...
    $('#table_data').append(iframe);
    window.frames['upload_iframe'].name = "upload_iframe";

    iframeId = document.getElementById("upload_iframe");

    // Add event...
    var eventHandler = function () {

            if (iframeId.detachEvent) iframeId.detachEvent("onload", eventHandler);
            else iframeId.removeEventListener("load", eventHandler, false);

            // Message from server...
            if (iframeId.contentDocument) {
                content = iframeId.contentDocument.body.innerHTML;
            } else if (iframeId.contentWindow) {
                content = iframeId.contentWindow.document.body.innerHTML;
            } else if (iframeId.document) {
                content = iframeId.document.body.innerHTML;
            }
               
              

              /*
              for(var i=0;i<content.length;i++){
                $('#results').append( '<p><a link="'+content[i]+'">'+content[i]+'</a></p><br>');
              }
              */
              
           

            // Del the iframe...
            setTimeout('iframeId.parentNode.removeChild(iframeId)', 250);
        }

    if (iframeId.addEventListener) iframeId.addEventListener("load", eventHandler, true);
    if (iframeId.attachEvent) iframeId.attachEvent("onload", eventHandler);

    // Set properties of form...
    var img_qual =  Math.max(10,$('#quality_inp').val()); 
      var img_size =  Math.max(10,$('#size_inp').val()); 
      
    form.setAttribute("target", "upload_iframe");
    form.setAttribute("action", action_url);
    form.setAttribute("method", "POST");
    form.setAttribute("enctype", "multipart/form-data");
    form.setAttribute("encoding", "multipart/form-data");

    var form_no = 0;
    if(div_id=='upload_img')
        form_no+=1;
      $('#progress').html('<div class="progress"><div class="indeterminate"></div></div>');
    var data = new FormData($('form')[form_no]);
    data.append( 'info', [img_qual,img_size]);
    console.log(data);
    $.ajax({
       type: "POST",
       url: action_url,
       data: data,
       success: function(content){
         
          console.log(content);
              content=JSON.parse(content); 

              console.log(content.type);
              $('#progress').html('');
              //$('#path_input_csv').val('');
               //$('#path_input_img').val('');

              if(content.type =='input_url'){
                   var tag_list=$('.chips-initial').material_chip('data');
                  for(var i=0;i<content.data.length;i++){
                      tag_list.push({'tag':content.data[i]});
                   }
                   $('.chips-initial').material_chip({data: tag_list,placeholder: 'Enter a url',
    secondaryPlaceholder: '+Url',});
              }
              else if(content.type=='link'){
                var resp = content;
    $('#table').append('<tr><td><a target="_blank"  href= " '+resp.source_data+'">'+resp.source_data+ '</a> </td><td>'+'('+resp.src_size+')</td>' +'<td><a target="_blank" href= " '+resp.data+'">'+resp.data+'</a></td>'+ '<td>('+resp.resp_size+')'+'</td></tr>');
                    Materialize.toast("Conversion Was Successful !", 2000) ;
              }
              else{

              }
       },
       error:function(){
        $('#'+div_id).html('');
        Materialize.toast("Error While Uploading", 2000) ;
       },
       processData: false,  // tell jQuery not to process the data
       contentType: false   // tell jQuery not to set contentType
    });
    //form.setAttribute("data", JSON.stringify({ 'qual': img_qual,'size': img_size, 'file':formData} ) );

    // Submit the form...
    
           
    //form.submit();
    
}
</script>

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">THREADED JPEG / PNG IMAGE COMPRESSION</a>
      <ul class="right hide-on-med-and-down">
       
        <li class="active"><a href="collapsible.html">Github</a></li>
      </ul>
      <ul class="left hide-on-med-and-down">
       
        <li class="active"><a href="collapsible.html">Sunny Singh</a></li>
      </ul>
    </div>
  </nav>

<div class="container">


<div class = 'row'>
   <div class="col s12 m4 l3">

   <div class ='row'>
     
     <div class='card col s8'> 
    <p class="range-field">
      Quality %<input type="range" id="quality_inp" min="0" max="100" />
    </p>
      </div>
   </div>


    <div class='row'>
      
     <div class='card col s8'>  
    <p class="range-field">
      Size % <input type="range" id="size_inp" min="0" max="100" />
    </p>
    </div>
   </div>

  </div>







<div  class="col s12 m8 l9">

 <div class="card col s6">
   <div class="card-content">
   <form >
     <h4>Upload an CSV File<h4>

    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="datafile" >
      </div>

      <div class="file-path-wrapper">
        <input  type="text"  class="file-path" id='path_input_csv'>
      </div>

      <input class='btn' type="button" value="upload" id='input_csv'
        onclick="fileUpload(this.form,'/upload','upload_csv'); return false;" >

      <div id="upload_csv">
     </div>
    </div>
  </form>
    </div>

     <div class='row'>
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
      <p><a href="#"></a></p>
     </div>  
 </div>



 <div class="card col s6">
   <div class="card-content">
   <form >
     <h4>Upload Image File<h4>

    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file"  name="datafile" >
      </div>

      <div class="file-path-wrapper">
        <input  type="text" class="file-path" id='path_input_img' >
      </div>

      <input class='waves-effect waves-light btn' type="button" value="convert"  id='input_img'
        onclick="fileUpload(this.form,'/upload','upload_img'); return false;" >

      <div id="upload_img">
     </div>
    </div>

  </form>

    </div>

     <div class='row'>
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
      <p><a href="#"></a></p>
     </div>  
 </div>

 </div>








 

<div  class='row'>
 
   <div class='row'>
     <h4> Enter Urls separated by Enters<h4>
  <div class="chips-initial"  id='chips'>
  </div>
    </div>

    <input class="waves-effect waves-light btn teal" type='button' value='convert' onclick='sendchips()'>
    <div class='row'>
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
      <p><a href="#"></a></p>
    </div> 

  <div id='progress'>
  </div>
</div>


  </div>
</div>



<div class="row">
    <div class ='card col s12' id='table_data'>
      </div>
    <div id='forcsv'>
    <a class="waves-effect waves-light btn" id='download' onclick='getCSV()'>Download CSV</a>
    <a href='#'id='Dlink'></a>
    </div>
         <table id='csv_table'>
             <thead>
          <tr>
              <th data-field="id ">Original</th>
              <th data-field="src_size">Source Size</th>
              <th data-field="name">Compressed</th>
              <th data-field="new_size">New Size</th>
          </tr>
        </thead>
        <tbody id='table'>


        </tbody >
         </table>
    
  
 </div> 
</div>


</body>

<script>



 $('.chips-initial').material_chip({
    data: [],
    placeholder: 'Enter a url',
    secondaryPlaceholder: '+Url',
  });

 function sendchips(){

    var chips = $('.chips').material_chip('data');
    var urls=[];
    for(var i =0;i<chips.length;i++){
        urls.push(chips[i].tag);
    }
   var batch_size = 3;

    var img_qual =  Math.max(10,$('#quality_inp').val()); 
    var img_size =  Math.max(10,$('#size_inp').val()); 
    console.log(img_qual);
    console.log(img_size);
    $('.chips-initial').material_chip({
    data: [],
    placeholder: 'Enter a url',
    secondaryPlaceholder: '+Url',
  });
   
    $('#progress').html('<div class="progress"><div class="indeterminate"></div></div>');
    rec_ajax(urls,img_qual,img_size,batch_size,0);
    
   
 }


 function rec_ajax(urls,iq,isz,batch_size,depth){
    

    var data = Array();
    var newUrls=Array();
    for(var i=0;i<urls.length;i++){
        if(i<batch_size){
          data.push(urls[i]);
        }
        else{
          newUrls.push(urls[i]);
        }
    }
    console.log(data.length);
    //check if maximum no of ajax calls exceeded
    if(depth>8 ){
       Materialize.toast("Too many Images Limit is. 20  Images!", 2000) ;
    }
    else if(data.length>0){
         $.ajax({
                  type: "POST",
                  url: '/convert',
                  data:JSON.stringify({'qual':iq,'size':isz, 'urls':data}) ,
                  success: function(resp){
                            console.log(resp);
                            resp = JSON.parse(resp);
                            for(var i =0;i<resp.length;i++){
                                  $('#table').append('<tr><td><a target="_blank"  href= " '+resp[i].source_data+'">'+resp[i].source_data+ '</a> </td><td>'+'('+resp[i].src_size+')</td>' +'<td><a target="_blank" href= " '+resp[i].data+'">'+resp[i].data+'</a></td>'+ '<td>('+resp[i].resp_size+')'+'</td></tr>');
                              }                              
                            rec_ajax(newUrls,iq,isz,batch_size,depth+1);
                            },
                  error:function(error){
                            console.log("Error");
                            Materialize.toast("Error Occured!", 2000) ;
                            for(var i =0;i<data.length;i++){
                                  $('#table').append('<tr><td><a target="_blank"  href= " '+data[i]+'">'+data[i]+ '</a> </td><td>'+'(0'+')</td>' +'<td><a target="_blank" href= " '+'">'+'Error'+'</a></td>'+ '<td>('+'Error'+')'+'</td></tr>');
                              }  
                            rec_ajax(newUrls,iq,isz,batch_size,depth+1);
                            },
                  dataType: "text"
                      });
          }
      else{
        $('#progress').html('');
      }
    }

 function html2json() {
   var json = '{';
   var otArr = [];
   var tbl2 = $('#csv_table tr').each(function(i) {        
      x = $(this).children();
      var itArr = [];
      x.each(function() {
         itArr.push('"' + $(this).text() + '"');
      });
      otArr.push('"' + i + '": [' + itArr.join(',') + ']');
   })
   json += otArr.join(",") + '}'

   return json;
}


 function getCSV(){
    var data = html2json();
    $.ajax({
  type: "POST",
  url: '/getCSV',
  data:data ,
  success: function(csv){
         csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

          console.log(csv);

        if (window.navigator.msSaveBlob) { 
       
            window.navigator.msSaveOrOpenBlob(new Blob([csv], {type: "text/plain;charset=utf-8;"}), "converted.csv")
        } 
        else {
             console.log('Here');
             var d = new Date(); 
             var n = d.getTime()
            $('#Dlink').html(String(n)+"converted.csv");
            $('#Dlink').attr({ 'download':String(n)+"converted.csv" , 'href': csvData, 'target': '_blank' }); 
        }
    },
  error:function(error){
   },
  dataType: "text"
   });
 }







 

</script>
</html>